---
import BoxGsap from '@/components/gsap/BoxGsap.astro';
---

<div class="mx-auto flex max-w-md flex-col items-center space-y-4">
	<h1>Tweening from</h1>

	<BoxGsap target="from" title="From 1.5 scale" />
	<BoxGsap target="fromY" title="From 100Y" />
	<BoxGsap target="fromX" title="From -100X" />
	<div class="flex space-x-4">
		<BoxGsap target="fadeInUp" title="Fade In Up on scroll" />
		<BoxGsap target="fadeInUp" title="Fade In Up on scroll" />
		<BoxGsap target="fadeInUp" title="Fade In Up on scroll" />
	</div>
	<div class="flex space-x-4">
		<BoxGsap target="fadeStagger" title="Fade Stagger scroll" />
		<BoxGsap target="fadeStagger" title="Fade Stagger scroll" />
		<BoxGsap target="fadeStagger" title="Fade Stagger scroll" />
	</div>
	<div class="h-[500px]"></div>
</div>

<script>
	gsap.registerPlugin(ScrollTrigger);

	ScrollTrigger.defaults({
		toggleActions: 'play reverse play reverse',
		start: 'bottom bottom',
	});

	gsap.defaults({
		duration: 2,
	});

	gsap.from('.from', {
		scrollTrigger: '.from',
		scale: 1.5,
	});
	gsap.from('.fromY', {
		scrollTrigger: '.fromY',
		y: 100,
	});
	gsap.from('.fromX', {
		scrollTrigger: '.fromX',
		x: -100,
	});

	gsap.fromTo(
		'.fadeInUp',
		{
			y: 30,
			opacity: 0,
			scale: 0.9,
		},
		{
			scrollTrigger: '.fadeInUp',
			delay: 1,
			duration: 2,
			stagger: 0.6,
			y: 0,
			opacity: 1,
			scale: 1,
			ease: 'power1',
		}
	);
	gsap.fromTo(
		'.fadeStagger',
		{
			y: 30,
			opacity: 0,
			scale: 0.9,
		},
		{
			scrollTrigger: '.fadeStagger',
			delay: 1,
			y: 0,
			opacity: 1,
			scale: 1,
			ease: 'expo',
			stagger: {
				amount: 1,
				from: 'center',
			},
		}
	);
</script>
