---
import BaseLayout from '@/layouts/BaseLayout.astro';

import ControlledTweens from '@/course/tweening/ControlledTweens.astro';
---

<BaseLayout title="Control Tweens" sideBarActiveItemID="control-tweens">
	<main class="flex w-full max-w-lg flex-col items-center">
		<ControlledTweens />
	</main>
</BaseLayout>
