---
import BaseLayout from '@/layouts/BaseLayout.astro';

import { BoxEasingExample } from '@/components/gsap/react/BoxEasingExample.tsx';
---

<BaseLayout title="Easing" sideBarActiveItemID="easing-react">
	<main>
		<BoxEasingExample />
	</main>
</BaseLayout>
