---
import BaseLayout from '@/layouts/BaseLayout.astro';

import EasingExamples from '@/components/gsap/EasingExamples.astro';
---

<BaseLayout title="Easing" sideBarActiveItemID="easing">
	<main>
		<EasingExamples />
	</main>
</BaseLayout>
