---
import BaseLayout from '@/layouts/BaseLayout.astro';

import { BoxExample } from '@/components/gsap/react/BoxExample.tsx';
---

<BaseLayout title="Easing" sideBarActiveItemID="easing-react">
	<main class="space-y-8">
		<BoxExample client:only="react" target="power1-in" easingType="power1.in" />
		<BoxExample
			client:only="react"
			target="power1-out"
			easingType="power1.out"
		/>
		<BoxExample
			client:only="react"
			target="power1-inOut"
			easingType="power1.inOut"
		/>
		<BoxExample client:only="react" target="power2-in" easingType="power2.in" />
		<BoxExample
			client:only="react"
			target="power2-out"
			easingType="power2.out"
		/>
		<BoxExample
			client:only="react"
			target="power2-inOut"
			easingType="power2.inOut"
		/>
		<BoxExample client:only="react" target="power3-in" easingType="power3.in" />
		<BoxExample
			client:only="react"
			target="power3-out"
			easingType="power3.out"
		/>
		<BoxExample
			client:only="react"
			target="power3-inOut"
			easingType="power3.inOut"
		/>
		<BoxExample client:only="react" target="power4-in" easingType="power4.in" />
		<BoxExample
			client:only="react"
			target="power4-out"
			easingType="power4.out"
		/>
		<BoxExample
			client:only="react"
			target="power4-inOut"
			easingType="power4.inOut"
		/>
		<BoxExample client:only="react" target="back-in" easingType="back.in" />
		<BoxExample client:only="react" target="back-out" easingType="back.out" />
		<BoxExample
			client:only="react"
			target="back-inOut"
			easingType="back.inOut"
		/>
		<BoxExample client:only="react" target="bounce-in" easingType="bounce.in" />
		<BoxExample
			client:only="react"
			target="bounce-out"
			easingType="bounce.out"
		/>
		<BoxExample
			client:only="react"
			target="bounce-inOut"
			easingType="bounce.inOut"
		/>
		<BoxExample client:only="react" target="circ-in" easingType="circ.in" />
		<BoxExample client:only="react" target="circ-out" easingType="circ.out" />
		<BoxExample
			client:only="react"
			target="circ-inOut"
			easingType="circ.inOut"
		/>

		<BoxExample
			client:only="react"
			target="elastic-in"
			easingType="elastic.in"
		/>
		<BoxExample
			client:only="react"
			target="elastic-out"
			easingType="elastic.out"
		/>
		<BoxExample
			client:only="react"
			target="elastic-inOut"
			easingType="elastic.inOut"
		/>

		<BoxExample client:only="react" target="expo-in" easingType="expo.in" />
		<BoxExample client:only="react" target="expo-out" easingType="expo.out" />
		<BoxExample
			client:only="react"
			target="expo-inOut"
			easingType="expo.inOut"
		/>

		<BoxExample client:only="react" target="sine-in" easingType="sine.in" />
		<BoxExample client:only="react" target="sine-out" easingType="sine.out" />
		<BoxExample
			client:only="react"
			target="sine-inOut"
			easingType="sine.inOut"
		/>
	</main>
</BaseLayout>
