---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BasicTweening from '@/course/tweening/BasicTweening.astro';
import TweeningFromTo from '@/course/tweening/TweeningFromTo.astro';
---

<BaseLayout title="Tweening Basics" sideBarActiveItemID="tweening">
	<main class="">
		<!-- TWEENING BASICS -->
		<div class="">
			<h1 class="text-center">Tweening Basics - Gsap.to</h1>
			<BasicTweening />
		</div>
		<hr class="my-10 opacity-10" />
		<TweeningFromTo />
	</main>
</BaseLayout>
