---
import { Icon } from 'astro-icon/components';
---

<div
	class="social-icons bg-blur light-gradient dark:dark-gradient sticky bottom-0 flex w-full items-center justify-center pb-3 pt-10"
>
	<!-- !CHANGETHIS -->
	<a
		href="https://github.com/paulhaze/"
		target="_blank"
		class="mx-3 flex"
		aria-label="Github repo"
		title="Github Repo"
	>
		<Icon class="h-6 w-6" name="github" />
	</a>
</div>
