---
import { Icon } from 'astro-icon/components';
import { cn } from '@/utils/clsxm';

import { routes } from './routes';

interface Props {
	sideBarActiveItemID: string;
}

const { sideBarActiveItemID } = Astro.props;

const activeClass = 'glass dark:glass-subtle'; // For primary color replace with `active` class
---

<ul class="menu menu-md shrink grow space-y-2 overflow-y-auto px-4">
	{
		routes.map((route) => (
			<li class="">
				<a
					href={route.href}
					id={route.id}
					class={cn(
						`flex justify-between rounded py-3 hover:bg-white/50 dark:hover:bg-black/60 ${route.id === sideBarActiveItemID && activeClass}`
					)}
				>
					{route.label}
					{route.icon && <Icon name={route.icon} />}
				</a>
			</li>
		))
	}
</ul>
